function _restartSrv
{
	_stopSrv
	_startSrv
}

function _stopSrv
{
	if [ "$SRV" = "EI" ]
	then
		$CARBON_HOME/bin/integrator.sh stop 2>/dev/null
	else
		$CARBON_HOME/bin/wso2server.sh stop 2>/dev/null
	fi
	echo $CARBON_HOME" is stopping."
	sleep 30
}

function _startSrv
{
	if [ "$SRV" = "EI" ]
	then
		$CARBON_HOME/bin/integrator.sh start
	else
		$CARBON_HOME/bin/wso2server.sh start
	fi

	while ! grep "WSO2 Carbon started" $CARBON_HOME/repository/logs/wso2carbon.log 2>/dev/null
	do  
		echo $CARBON_HOME" is starting ....."
		sleep 5
	done

	echo $CARBON_HOME" is Up and Running"
}

if [ "$1" = "EI" ]
then
	CARBON_HOME=/app/product/EI_HOME_6.1.1/wso2ei-6.1.1
	SRV="EI"
elif [ "$1" = "AS" ]
then
	CARBON_HOME=/app/product/AS_HOME_5.3.0/wso2as-5.3.0
	SRV="AS"
elif [ "$1" = "IS" ]
then
	CARBON_HOME=/app/product/IS_HOME_5.5.0/wso2is-5.5.0
	SRV="IS"
else
	echo "WRONG SERVER TYPE."
	exit
fi

if [ "$2" = "stop" ]
then
	ACTION="stop"
	_stopSrv
elif [ "$2" = "start" ]
then
	ACTION="start"
	_startSrv
elif [ "$2" = "restart" ]
then
	ACTION="restart"
	_restartSrv
else
	echo "ACTION CHOOSEN IS NOT DEFINED."
	exit
fi
